.navbar {
  display: flex;
  align-items: baseline;
}

.navbar li {
  list-style: none;
  margin-left: 12px;
}

.navbar li a {
  text-decoration: none;
}

.heading {
  color: rgb(12, 7, 1);
  text-align: center;
}